var filter = function(arr, n) {
  if(!arr) {
    return
  }
  var temp = []
  for(var i = 0; i < n; i++) {
    temp[i] = arr[i]
  }
  return temp
}
//拼接歌手数组中歌手的名字
var splice = function(arr) {
  if(!arr) {
    return
  }
  var temp = ''
  for(var i = 0; i < arr.length; i++) {
    temp += (i < arr.length - 1) ? (arr[i].name + '/') : arr[i].name 
  }
  return temp
}
var format = function(num) {
  if(!num) {
    return
  }
  return (Math.floor(num / 10000000) / 10) + '亿'
}
var isMore = function(str) {
  if(!str) {
    return
  }
  if(str.length > 36) {
    return true
  } 
  return false
}
module.exports = {
  filter: filter,
  splice: splice,
  format: format,
  isMore: isMore
}